/* Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .bodyCarritoPage{
    position: relative;
    min-height: 100vh;
  }

  .footerCarritoPage{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
    /* border-bottom: 1px solid #f5f5f5; */
  }

  footer {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 40px 0;
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 120px;
  }
  
  main{
    flex-grow: 1;
  }

  .logo {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  .main-nav {
    display: flex;
    gap: 40px;
  }

    .main-nav a {
      text-decoration: none;
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
    }

    .main-nav a:hover{
      font-weight: 600;
      transition: 0.4s ease-out;
    }

  .gridDeCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
  }

  .hidden {
    display: none;
}

 .flex{
  display: flex;
 }

  /*.background {
     background-image: linear-gradient( #f2e6ee, #151515);  
  } */

  /*  Menu hamburguesa (boton para mobile) */
  
  .hamburger-menu {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001; 
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #000; 
  transition: all 0.3s ease-in-out;
}

/* Animación del botón de hamburguesa cuando está activo */
.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
   
  /* Carrito */
  
  .buttonCarrito {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    padding: 6px;
    padding-top: 10px;
  }
  
  .buttonCarrito:hover {
    background-color: #ffde21;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
  }
  
  .iconoCarrito {
    width: 28px;
    height: 28px;
  }
  
  .containerIconPadre {
    position: relative;
  }
  /* contador de productos */
  .count-products {
    position: absolute;
    top: 55%;
    right: 0;
    margin-top: 5px;
    background-color: #ec9018;
    color: #fff;
    width: 23px;
    height: 23px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;
  
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  
  
  /* contador de productos id */
  #contador-productos {font-size: 12px;}
  
  .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
  }

  .imagen-producto-carrito{
    width: 100px;
    height: 100px;
    margin-right: 8px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;

  }
  
  .titulo-producto-carrito {
    font-size: 16px;
    min-width: 200px;
    padding-bottom: 10px;
  }
  
  .precio-producto-carrito {
    font-weight: 700;
    font-size: 16px;
  }
  
  .cantidad-producto-carrito {
    margin-right: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #ec9018;
  }
  
  .icon-close {
    width: 25px;
    height: 25px;
  }
  
  .icon-close:hover {
    stroke: red;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }
  
  .cart-total h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .total-pagar {
    font-size: 20px;
    font-weight: 900;
  }
  
  .hidden-cart {
    display: none;
  }
  
  .cart-empty {
    padding: 20px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* Banner */

.bannerContainer {
  background-image: url('images/BannerImgNike.jpg'); 
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 138px 50px;
  text-align: left;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
}

.bannerColection{
  background-image: url('https://res.cloudinary.com/dfwb8a17z/image/upload/v1748384816/george-pagan-iii-PsifAN6_z-k-unsplash_m5z9eq.jpg'); 
  background-size: cover;
  background-position: center;
  color: #ffde21;   
  padding: 138px 50px;
  border-radius: 10px;
  margin-bottom: 60px; 
  width: 100%;
  height: 400px;
}

.bannerColection p{
  margin-left: 10px;
  color: #fff;
}

.bannerContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.bannerContent {
    position: relative;
}

.bannerTitle {
    user-select: none;
    font-size: 68px;
    font-weight: bold;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 800;
}

.bannerDescription {
    user-select: none;
    font-size: 16px;
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
}

.bannerButton {
    display: inline-block;
    padding: 14px 38px;
    background-color: #ffde21;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
    font-family: "Inter", sans-serif;
}

.bannerButton:hover {
    background-color: #0033ff;
    color: white;
}

/* Lista titulos */
.tituloLista {
margin-bottom: -32px;
padding: 24px;
}

.tituloLista h3{
font-family: "Inter", sans-serif;
font-size: 24px;
font-weight: 300;
}


  /* Card de zapatillas/producto */
  .imgContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carritoImg{
    max-width: 10%;
    object-fit: cover;
    
  }
  
  .cardProducto {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .cardProducto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .cardProducto:hover img {
    transform: scale(1.1);
  }
  
  .imagenCardProducto {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .nombreDeProducto {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .categoriaCard {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .precioProductoCard {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .botonIrAlCarrito {
   
    background-color: #0033ff;
    color: #fff;
    border: none;
    padding: 16px 30px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .botonIrAlCarrito:hover {
    background-color: #1d3183;
    color: #fff;
    border: none;
  }
  
  /* Boton de agregar a carrito (cards)*/
  
  .botonCardAgregarCart {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 16px 30px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  
  .botonCardAgregarCart:hover {
    background-color: #0033ff;
    transition: background-color 0.3s ease-in-out, color 3s ease-out;
  }

  .botonCardAgregarCart:active {
    color: #000;
    background-color: #05034d;
    transition: background-color 0.3s ease;
  }

  /* pagina carrito */

  .contenedorCarritoConProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carritoVacio {
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .carritoVacio h1{
    padding-top: 16px;
    color: #a3a3a3;
  }

  .carritoVacio p{
    margin-top: 8px;
    color: #666;
  }
  
  .tituloCarrito {
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  .tituloCarrito h2{
    border-bottom: 4px solid #000;
    padding-bottom: 4px;
  }

  .carritoConProductos{
    margin-top: 24px;
    margin-bottom: 24px;
    
  }

  /* SECCION TOTAL A PAGAR */
  .cart-total-page{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content:flex-start;
  }

  .cart-total-page h3{
    
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-right: 8px;
  }

  #total-pagar-page{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  .boton-finalizar-compra{
    background-color: #0033ff;
    color: #fff;
    width: 280px;
    border: none;
    border-radius: 3px;
    padding: 16px 30px;
    cursor: pointer;
  }

  .boton-finalizar-compra:hover{
    background-color: #1d3183;
    color: #fff;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .boton-finalizar-compra:active{
    background-color: #000;
    color: #1d3183;
    border: none;
  }

  /* PAGINA NOSOTROS */

  /* Sección Hero, titulo nosotros */
.hero-section {
  padding: 80px 20px;
  text-align: center;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.hero-description {
  font-size: 19px;
  max-width: 700px;
  margin: 0 auto 40px;
}

/* Sección de Características (cards nosotros) */
.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
  padding: 60px 20px;
  background-color: #000;
  border-radius: 12px 12px 0 0;
}

.feature-card {
  background-color: #1a1a1a; 
  border: 1px solid #333; 
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  flex: 1; 
  min-width: 280px; 
  max-width: 380px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.feature-title {
  font-size: 32px;
  margin-bottom: 15px;
  color: #d4d4d4;
}

.feature-description {
  font-size: 14px;
  color: #a3a3a3; 
}

/* Sección Como comprar */
.how-it-works-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: #000;
  flex-wrap: wrap;
  border-radius: 0 0 12px 12px;
}

.how-it-works-content {
  flex: 1;
  min-width: 300px; 
  padding-right: 40px; 
}

.how-it-works-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #525252; 
  margin-bottom: 5px;
}

.how-it-works-title {
  color: #d4d4d4;
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}

.how-it-works-description {
  font-size: 16px;
  color: #a3a3a3;
  font-family: "Inter", sans-serif;}

.how-it-works-image {
  flex: 1;
  min-width: 300px; 
  text-align: center;
}

.how-it-works-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block; 
  margin: 0 auto; 
}

/* Sección LOCALIZACIONES */
.location-section {
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 50px; 
}

.location-details {
  flex: 1;
  min-width: 280px; 
  max-width: 400px; 
}

.location-title {
  font-size: 56px;
  margin-bottom: 25px;
  font-weight: 800;
  color: #0a0a0a;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.location-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-list li {
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #171717;
}

/* google maps */
.google-maps-container {
  flex: 1;
  min-width: 300px; 
  height: 400px; 
  background-color: #333; 
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.google-maps-container iframe {
  width: 100%;
  height: 100%;
  border: 0; 
}


  @media (max-width: 992px) {
    .gridDeCards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .gridDeCards {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .hero-title {
      font-size: 35px;
  }

  .hero-description {
      font-size: 16px;
  }

  .features-section {
      flex-direction: column; 
      align-items: center; 
  }

  .feature-card {
      width: 90%; 
      max-width: 400px; 
  }

  .how-it-works-section {
      flex-direction: column; 
      text-align: center;
  }

  .how-it-works-content {
      padding-right: 0;
      margin-bottom: 40px; 
  }

  .how-it-works-title {
      font-size: 32px;
  }

  .location-section {
      flex-direction: column; 
      align-items: center;
  }

  .location-details,
  .google-maps-container {
      width: 90%;
      max-width: 400px; 
  }

  .google-maps-container {
      height: 300px; 
  }
}

  /* MOBILE */
  @media (max-width: 610px) {

    .gridDeCards {
      grid-template-columns: 1fr;
    }

    /* menu hamburguesa */
    header {
      justify-content: space-between; 
      padding: 15px 20px;
  }

  .main-nav {
      display: none; 
      flex-direction: column; 
      position: absolute; 
      top: 100%; 
      left: 0;
      width: 100%;
      background-color: #fafafa; 
      padding: 20px 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      transform: translateY(-100%); 
      opacity: 0;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .main-nav.active {
      display: flex; 
      transform: translateY(0); 
      opacity: 1;
  }

  .main-nav a {
      padding: 10px 20px;
      text-align: center;
      width: 100%; 
      box-sizing: border-box; 
  }

  .main-nav a:hover {
      background-color: #171717;
      color: #fff; 
  }

  .hamburger-menu {
      display: block; 
  }

  .containerIconPadre {order: 1; }

    /* banner */

    .bannerContainer{
      padding: 60px 15px;
      min-height: 480px;
      text-align: center;
    }

    .bannerContent{
      margin-top: 32px;
    }

    .bannerDescription{
      margin-left: 4px;
    }
    .bannerButton{
      margin-left: 4px;
      padding: 14px 42px;
      font-size: 14px;
    }

    .bannerColection{
      min-height: 480px;
    }


    .bannerTitle {
        font-size: 48px;
    }
    .bannerDescription {
        font-size: 14px;
    }
    .hero-title {
      font-size: 29px;
  }

  .feature-title {
      font-size: 24px;
  }

  .how-it-works-title {
      font-size: 29px;
  }

  .location-title {
      font-size: 29px;
  }
}



    